.order-card__title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  min-width: 100px;
  font-size: 1.1rem;
  color: #4e4e4e;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-card__title_bold {
  font-weight: bold;
}
